<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nbl.dao.ProductAuditDao" >
  <resultMap id="BaseResultMap" type="com.nbl.model.ProductAudit" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="PASSED" property="passed" jdbcType="DECIMAL" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="AUDIT_USER_ID" property="auditUserId" jdbcType="VARCHAR" />
    <result column="AUDIT_TIME" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="IS_MODIFY" property="isModify" jdbcType="DECIMAL" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PRODUCT_ID, TYPE, PASSED, CREATED_TIME, AUDIT_USER_ID, AUDIT_TIME, IS_MODIFY, 
    DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_PRODUCT_AUDIT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_PRODUCT_AUDIT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nbl.model.ProductAudit" >
    insert into T_PRODUCT_AUDIT (ID, PRODUCT_ID, TYPE, 
      PASSED, CREATED_TIME, AUDIT_USER_ID, 
      AUDIT_TIME, IS_MODIFY, DESCRIPTION
      )
    values (#{id,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{passed,jdbcType=DECIMAL}, #{createdTime,jdbcType=TIMESTAMP}, #{auditUserId,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{isModify,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nbl.model.ProductAudit" >
    insert into T_PRODUCT_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="passed != null" >
        PASSED,
      </if>
      <if test="createdTime != null" >
        CREATED_TIME,
      </if>
      <if test="auditUserId != null" >
        AUDIT_USER_ID,
      </if>
      <if test="auditTime != null" >
        AUDIT_TIME,
      </if>
      <if test="isModify != null" >
        IS_MODIFY,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="passed != null" >
        #{passed,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditUserId != null" >
        #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isModify != null" >
        #{isModify,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nbl.model.ProductAudit" >
    update T_PRODUCT_AUDIT
    <set >
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="passed != null" >
        PASSED = #{passed,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null" >
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditUserId != null" >
        AUDIT_USER_ID = #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isModify != null" >
        IS_MODIFY = #{isModify,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nbl.model.ProductAudit" >
    update T_PRODUCT_AUDIT
    set PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      PASSED = #{passed,jdbcType=DECIMAL},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      AUDIT_USER_ID = #{auditUserId,jdbcType=VARCHAR},
      AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      IS_MODIFY = #{isModify,jdbcType=DECIMAL},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>